div#side-nav h2 {
    margin-top: 2em;
}

#devkus {
    font-family: courier, "courier new";
    margin: -10px -10px 10px -10px;
    overflow: auto;
    height: 200px;
    background: #000;
    padding: 10px;
    color: #000;
}

div#side-nav #devkus {
    margin: 0;
}

#devkus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#devkus ul li, div#side-nav #devkus ul li {
    margin: 0.2em 0;
    border: none;
    color: #fff;
}

#devkus ul li a {
    background: transparent;
    text-decoration: none;
    display: inline;
    color: #fff;
    padding: 0;
}

#devkus ul li a:hover {
    background: #03f;
}

/* For documentation */

pre, pre.literal-block {
    border: 1px solid #ddd;
    border-width: 1px 0;
    font-size: 1.1em;
    background: #ffc;
    padding: .3em .4em;
    overflow: auto;
    margin: 1em 0;
}

dl.docutils dt {
    font-weight: bold;
    font-size: 1.1em;
}
