{% load avatar format entry %}
<ul class="stream">

{% for entry in entries %}
  {% ifchanged %}
    <li class="date"><h3>{{entry.created_at|date:"l, j F Y"}}</h3></li>
  {% endifchanged %}

  {% if entry.entry %}
  <li class="comment" id="stream-comment-{{entry.uuid}}">
    <div class="top"><div class="bottom">
      {% include "common/templates/stream_comment.html" %}
    </div></div>
  </li>
  {% endif %}

  {% ifequal entry.stream_ref.type 'presence' %}
  <li class="presence" id="stream-{{entry.uuid}}">
    <div class="top"><div class="bottom s-{{entry.stream}}">
      {% include "common/templates/stream_entry.html" %}
    </div></div>
  </li>
  {% endifequal %}
{% endfor %}

{% if not entries|length %}
  {% block no_posts %}
    {% ifequal view.nick request.user.nick %}
      <div class="highlight">
        <p>It appears that you have not yet posted any messages.
        Posting is easy - just type your first message in the field
        above. Don't know what to say? Start with what you're up to
        right now. For instance, "Heading to lunch with my friends"
        would be a perfect first message.</p>
      </div>
      {% else %}
      <p>
      {% ifequal privacy "public" %}
      {{view.display_nick}} has not posted anything public.
      {% else %}
      {{view.display_nick}} has not posted anything yet.
      {% endifequal %}
      </p>
    {% endifequal %}
  {% endblock %}
{% endif %}
</ul>
