{% extends 'common/templates/form_add_contacts.html' %}

{% block buttons %}
{% if contacts %}
  <input type="hidden" name="redirect_to" value="{{redirect_to}}" />
  <button type="submit">
    <big class="active"><span>&#8250; Add Contacts</span></big>
  </button>
  <p style="float: right;">
    or <a href="/welcome/done?redirect_to={{redirect_to|urlencode}}">skip this now</a>
  </p>
{% else %}
  <big class="active"><a href="/welcome/done?redirect_to={{redirect_to|urlencode}}">&#8250; Continue</a></big>
{% endif %}
{% endblock %}
