{% extends 'actor/templates/settings_base.html' %}
{% load nonce %}
{% block settings %}

<h2>Change Your Password</h2>
{% include 'form_error.html' %}
<form action="{{view.url}}/settings/password" method="post">
  {{request.user|noncefield:"change_password"}}
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <label for="confirm">Verify password</label>
    <input type="password" id="confirm" name="confirm" />
  </div>
  <div class="buttons">
    <input type="submit" value="Save Changes" />
  </div>
</form>
{% endblock %}
