/* contacts */

div#contacts ul.float li.follower {
    background: #dbeaff;
    padding-top: 3px;
}

div#followers ul.float li.contact {
    background: #dbeaff;
    padding-top: 3px;
}

/* groups */
div#group-intro {
    background: #f0f0f0;
    padding: 5px 15px 1px 15px;
}

div#group-intro {
    background: #f0f0f0;
    padding: 5px 0 1px 0;
}

div#group-intro p.centered {
    text-align: left;
}
