{% extends 'common/templates/base_sidebar.html' %}
{% load nonce avatar format entry %}
{% block title %}{{view.display_nick}}: {{ entry.title }}{% endblock %}
{% block content %}
<div class="main">
  <h1>
    {% ifnotequal entry.owner entry.actor %}
    {% actor_link entry.actor_ref request %} posted to {% actor_link entry.owner_ref request %}:
    {% else %}
    {% actor_link entry.owner_ref request %} said:
    {% endifnotequal %}
  </h1>
  {% include 'common/templates/item_post.html' %}
</div>
{% include 'common/templates/item_comments.html' %}
{% endblock %}
