{% extends 'common/templates/base_sidebar.html' %}
{% load nonce avatar vcard %}

{% block content %}

<h2>Create {{ channel_name }}?</h2>

{% if request.user %}
{% include 'common/templates/message_form.html' %}
<p>Write your first message and hit post to create this channel.</p>

{% else %}
<p>You must be logged in to create channels</p>
{% endif %}

<div id='stream'>
</div>
{% endblock %}

{% block sidebar %}
admins <br />
<ul>
  <li>You!</li>
</ul>
members <br />
<ul>
  <li>You!</li>
</ul>

{% endblock %}
