{% extends 'common/templates/base_sidebar.html'%}
{% block title %}About{% endblock %}
{% block content %}

<h1>About Jaiku</h1>

<p>
Jaiku's goal is to bring people closer together by enabling them to have 
conversations. It offers a way to connect with the people you care about by 
sharing updates with them on the Web, <a href="/help/im">IM</a>,
and <a href="/sms">SMS</a> - as well as through 
third-party applications built by other developers using the Jaiku 
<a href="/api">API</a>.
</p>

<p>
Jaiku is a part of Google. The service is maintained by volunteer Google 
engineers on their spare time.
</p>

<p>
Follow the <a href="http://jaiku.com/blog">Jaikido blog</a> for updates. For 
press inquiries, please contact press [at] google.com 
</p>

{% endblock %}
