{% extends 'flat/templates/help_base.html' %}

{% block help %}
<h2>1. What is {{SITE_NAME}}?</h2>
<p>
    {{SITE_NAME}} is a way to connect with friends by sharing short messages.
    You can create your own stream of {{SITE_NAME}}s and follow your friends.
</p>

<h2>2. How does {{SITE_NAME}} work?</h2>
<p>
    By joining {{SITE_NAME}} for free, you can start your own stream of messages. 
    You can post new updates to your stream using the Web or
    your phone. Invite your friends to {{SITE_NAME}} so you start seeing each others'
    latest updates. You can also add comments to the updates.
</p>

<h2>3. Are my {{SITE_NAME}}s public?</h2>
<p>
    That's up to you to decide. If you'd rather not share your stream
    publicly, you can hide the updates from the public and limit their
    visibility to your contacts only. Check the "Hide my posts from the public"
    box when you join {{SITE_NAME}}, or change your privacy preferences at any time in
    Settings.
</p>

<h2>4. How much does it cost?</h2>
<p>
    {{SITE_NAME}} is free. For SMS, standard operator rates apply.
</p>

<h2>5. How do I post a new {{SITE_NAME}}?</h2>
<p>
    You can post by signing in on the Web, typing your message, and
    posting it to your stream. You can select an icon to spice up the message,
    and also set your location if you like. If you're away from your computer,
    you can also post from your mobile phone.
</p>

<h2>6. How do I use {{SITE_NAME}} on my phone?</h2>
<p>
    You can text your posts to 30300 (in the USA).
    To activate texting, enter your number in the Settings: Text Messaging
    section on the {{SITE_NAME}} web site and click "Send Activation Message".
</p>

<h2>7. How do I follow other people?</h2>
<p>
    You can start following another person by adding them as your contact. To
    add a contact, use <a href="/explore/find">Search</a> to find your friend
    and click the "Add as contact" link on their profile. If your friend is not
    yet on {{SITE_NAME}} or if their stream of posts is not visible to the public, you
    can send them an email invitation by clicking "Invite Friends".
</p>

<h2>8. How do I delete my account?</h2>
<p>
    You can delete your account and your stream of posts at any time from
    Settings: Your Account.
</p>

<h2>9. How do I get more help?</h2>
<p>
    If you have more questions, please <a href="/about">contact us</a>.
</p>
<p>
    If you want to know how we collect and use personal information, please read
    our <a href="/privacy">privacy statement</a>.
</p>

{% endblock %}
